@model IEnumerable<PersonalAffairs.WEB.Models.UnitViewModel>
@{
    ViewBag.Title = "Index";
}

<br />
<h2 class="alert alert-info">Units</h2>

<br />
<a class="btn btn-light" href="/Unit/AddUnit/">Add Unit</a>
<br />
<br />
<table class="table ">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>Workers</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a class="btn btn-light" href="/Unit/GetAllWorkersByUnit/@item.Id">Workers</a>
        </td>
        <td>
            <a class="btn btn-light" href="/Unit/EditUnit/@item.Id">Edit</a>
        </td>
        <td>
            <a class="btn btn-light" href="/Unit/InfoUnit/@item.Id">Info</a>
        </td>
        <td>
            <a class="btn btn-light" href="/Unit/DeleteUnit/@item.Id">Delete</a>
        </td>

    </tr>
    }

</table>