@model PersonalAffairs.BLL.DTO.UnitDTO
@{
    ViewBag.Title = "UnitInfo";
}

<br />
<h2 class="alert alert-info">Unit Info</h2>
<table class="table">

        <tr>
            <td>
                <label>Unit Name:</label>
                @Html.DisplayFor(item => item.Name)
                <br />
            </td>
        </tr>
   

</table>
