@model PersonalAffairs.BLL.DTO.PositionDTO
@{
    ViewBag.Title = "PositionInfo";
}

<br />
<h2 class="alert alert-info">Position Info</h2>
<table class="table">

        <tr>
            <td>
                <label>Name:</label>
                @Html.DisplayFor(item => item.Name)
                <br />
                <label>Price:</label>
                @Html.DisplayFor(item => item.Price)
                <br />
                <label>WorkingHours:</label>
                @Html.DisplayFor(item => item.WorkingHours)
                <br />
            </td>
        </tr>
   

</table>
